@import './david-brand.sass'
@import "./chatbot.sass"
  
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "~@fortawesome/fontawesome-free/scss/solid.scss"
@import "~@fortawesome/fontawesome-free/scss/brands.scss"

//-------------------------------------------------------//

.customScrollBar::-webkit-scrollbar
    width: 6px

.customScrollBar::-webkit-scrollbar-track
    background: white    

.customScrollBar::-webkit-scrollbar-thumb 
    background-color: $primary 
    border-radius: 20px




//-------------------------------------------------------//

@import "~bulma/bulma.sass"

// responsiveness
+tablet-only

+mobile


