.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  min-width: 60ch;
  min-height: 90ch;
  width: 30vw;
  height: 45vw;
  max-width: 100ch;
  max-height: 100ch;
  background-image: url(https://i.ibb.co/z40Hpv1/background.png);
}

.card2 {
  width: 25ch;
  height: 25ch;
  background-image: url(https://i.ibb.co/DMc8x12/statistics.png);
}

.card3 {
  opacity: 1;
  width: 25ch;
  height: 25ch;
  background-image: url(https://i.ibb.co/Ltnjh3Y/code-1.png);
}

.card4 {
  width: 55ch;
  height: 65ch;
  background-image: url(https://i.ibb.co/095RmGf/avatar.png);
}

.containerr {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
