.mobile-title {
  font-size: 3rem;
}

.mobile-subtitle {
  font-size: 1.5rem;
}

.landingText {
  padding-top: 50px;
}

.mobileCenter {
  max-width: 300px;
}

.mobileContainer {
}

[data-scroll] {
  transition: all 1s;
}
[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}
[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-200px);
}

.imgMobile {
  max-width: 250px;
  max-height: 450px;
}

.maxWidthMobile {
  max-width: 135px;
}

.hero-body-custom {
  padding: 5rem 1.5rem;
}
.imageHover {
  max-width: 700px;
  transition: 0.5s;
}

.imageHover:hover {
  max-width: 800px;
  box-shadow: 3px 13px 12px -8px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 780px) {
  .mobile-title {
    font-size: 2rem;
  }
  .mobile-subtitle {
    font-size: 1rem;
  }

  .landingText {
    text-align: center;
    padding-top: 0px;
  }

  .mobileCenter {
    max-width: none;
  }

  .mobileContainer {
    height: 70vh;
  }

  .imgMobile {
    max-width: 150px;
    max-height: 450px;
  }

  .maxWidthMobile {
    max-width: none;
  }
}

@media only screen and (max-width: 500px) {
  .imgMobile {
    display: none;
  }

  .hero-body-custom {
    padding: 2.5rem 0.5rem;
    max-height: 0.7vh;
  }
}

@media only screen and (max-height: 750px) {
  .hero-body-custom {
    padding: 2.5rem 0.5rem;
    max-height: 0.7vh;
  }
}
