.Container {
  max-width: 60rem;
  margin: 3rem auto 0;
  font-family: sans-serif;

  h1 {
    color: #333;
  }

  p {
    color: #aaa;
  }
}

@media only screen and (max-width: 600px) {
  .mobile-title {
    font-size: 24px;
  }
  .mobile-subtitle {
    font-size: 12px;
  }
}