.mobile-title {
  font-size: 3rem;
}

.mobile-subtitle {
  font-size: 1.5rem;
}

.landingText {
  padding-top: 50px;
}

.mobileCenter {
  max-width: 300px;
}

.mobileContainer {
}

[data-scroll] {
  transition: all 1s;
}
[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}
[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-200px);
}

.imgMobile {
  max-width: 250px;
  max-height: 450px;
}

.maxWidthMobile {
  max-width: 135px;
}

.hero-body-custom {
  padding: 5rem 1.5rem;
}
.imageHover {
  max-width: 700px;
  transition: 0.5s;
}

.imageHover:hover {
  max-width: 800px;
  box-shadow: 3px 13px 12px -8px rgba(0, 0, 0, 0.75);
}

.landingBubble {
  bottom: 30%;
}
.landingProfile {
  height: 110%;
  bottom: 0;
}

.font1 {
  font-size: 1.5rem;
  line-height: 1.25rem;
}
.font2 {
  font-size: 4.3rem;
  line-height: 5rem;
}
.font3 {
  font-size: 2rem;
  line-height: 2rem;
}
.font4 {
  font-size: 1.7rem;
  line-height: 4rem;
}
.font5 {
  font-size: 1.7rem;
  line-height: 2.5rem;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.font6 {
  font-size: 1.7rem;
  line-height: 2.5rem;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.font5:hover {
  font-size: 1.7rem;
  line-height: 2.5rem;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #fad052;
}
.font6:hover {
  font-size: 1.7rem;
  line-height: 2.5rem;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #fad052;
}

.notOnMobile {
}

@media only screen and (max-width: 780px) {
  .mobile-title {
    font-size: 2rem;
  }
  .mobile-subtitle {
    font-size: 1rem;
  }

  .landingText {
    text-align: center;
    padding-top: 0px;
  }

  .mobileCenter {
    max-width: none;
  }

  .mobileContainer {
    height: 70vh;
  }

  .imgMobile {
    max-width: 150px;
    max-height: 450px;
  }

  .maxWidthMobile {
    max-width: none;
  }

  .landingBubble {
    bottom: 0%;
  }
  .landingProfile {
    height: 85%;
    bottom: 20%;
  }

  .font1 {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .font2 {
    font-size: 2.7rem;
    line-height: 2.5rem;
  }
  .font3 {
    font-size: 1rem;
    line-height: 1rem;
  }
  .font4 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .font5 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .font6 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .notOnMobile {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .imgMobile {
    display: none;
  }

  .hero-body-custom {
    padding: 2.5rem 0.5rem;
    max-height: 0.7vh;
  }
}

@media only screen and (max-height: 750px) {
  .hero-body-custom {
    padding: 2.5rem 0.5rem;
    max-height: 0.7vh;
  }
}
